{% extends "base.twig" %}

{% block title %}ToDo App{% endblock %}

{% block content %}
  {% include 'components/main-heading.twig' with {title: 'ToDo App'} %}
  <p class="text-center mb-4">Manage all your tasks in one place.</p>
  {%
    include 'components/link-button-dark.twig'
    with {
      href: userEmail is null ? '/signup' : '/todos',
      title: 'Get started',
      class: 'max-w-max m-auto'
    }
  %}
{% endblock %}
