{% extends "base.twig" %}

{% block title %}ToDo App{% endblock %}

{% block content %}
  {% include 'components/main-heading.twig' with {title: 'ToDo App'} %}
  <p class="text-center mb-4">Manage all your tasks in one place.</p>
  {%
    include 'components/link-button-dark.twig'
    with {
      href: userEmail is null ? '/signup' : '/todos',
      title: 'Get started',
      class: 'max-w-max m-auto'
    }
  %}

  <aside>
    {% if signUpSuccess is not null %}
      {%
        embed 'components/flash-message.twig'
        with {class: 'fixed bottom-4 right-4 max-w-[calc(100vw_-_2rem)]'}
      %}
        {% block content %}
          {{ signUpSuccess }}
        {% endblock %}
      {% endembed %}
    {% endif %}
  </aside>
{% endblock %}
