{% extends "base.twig" %}

{% block title %}ToDo App{% endblock %}

{% block content %}
  {% include 'components/header.twig' %}

  <main>
    <h1>ToDo App</h1>
    {% if userEmail is null %}
      <p>You are not logged in...</p>
    {% else %}
      <p>You are logged in!</p>
    {% endif %}
  </main>
{% endblock %}
