{% extends "base.twig" %}

{% block title %}ToDo App{% endblock %}

{% block content %}
  {% include 'components/main-heading.twig' with {title: 'ToDo App'} %}
  <p class="text-center mb-4">Manage all your tasks in one place.</p>
  <a
    href="{{ userEmail is null ? '/signup' : '/todos' }}"
    class="block self-center bg-zinc-700 text-white rounded-md transition-colors hover:bg-zinc-600 py-1 px-2 max-w-max m-auto"
  >
    Get started
  </a>
{% endblock %}
