{% extends "base.twig" %}

{% block title %}ToDo App — Edit Task{% endblock %}

{% block content %}
  {% include 'components/header.twig' %}

  <main>
    <h1>Edit Task</h1>

    <form action="/todos/{{ todo.id }}" method="post">
      {% include 'components/forms/csrf.twig' %}

      <div>
        <label>
          Title:
          &nbsp;
          <input type="text" name="title" placeholder="Title" value="{{ todo.title|e }}" required />
        </label>
      </div>

      <div>
        <label>Body: <textarea name="body" placeholder="Body">{{ todo.body|e }}</textarea></label>
      </div>

      <button type="submit">Edit</button>
    </form>
  </main>
{% endblock %}
