{% extends "base.twig" %}

{% block title %}ToDo App — Tasks{% endblock %}

{% block content %}
  {% include 'components/header.twig' %}

  <main>
    <h1>Tasks</h1>

    <a href="/todos/create">Add a new task</a>

    {% for todo in todos %}
      {% include 'todos/todo.twig' with {'todo': todo} %}
    {% endfor %}
  </main>
{% endblock %}
