{% extends "base.twig" %}

{% block title %}ToDo App — Tasks{% endblock %}

{% block content %}
  {% include 'components/main-heading.twig' with {title: 'Tasks'} %}

  {%
    include 'components/link-button-dark.twig'
    with {
      href: '/todos/create',
      title: 'Add a new task',
      class: 'max-w-max m-auto mb-8'
    }
  %}

  <div class="flex flex-wrap gap-2 max-w-xl m-auto mb-2 border-b-2 border-zinc-200 pb-2">
    <span>Filters:</span>
    {% include 'todos/filter.twig' with {href: '/todos', name: 'all'} %}
    <span>/</span>
    {% include 'todos/filter.twig' with {href: '/todos?filter=finished', name: 'finished'} %}
    <span>/</span>
    {% include 'todos/filter.twig' with {href: '/todos?filter=unfinished', name: 'unfinished'} %}
  </div>

  {% if todos|length > 0 %}
  <ul class="flex flex-col gap-4">
    {% for todo in todos %}
      <li>
        {% include 'todos/todo.twig' with {'todo': todo} %}
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p class="text-center text-zinc-400 text-lg italic mt-16">No tasks here yet...</p>
  {% endif %}
{% endblock %}
