<article class="max-w-xl m-auto rounded-md bg-white shadow-md p-4">
  <div class="flex">
    <h2 class="font-bold text-xl mb-2 {{ todo.completed ? 'line-through text-zinc-400' }}">{{ todo.title|e }}</h2>

    <div class="ml-auto flex flex-wrap gap-2">
      {% include 'todos/edit-button.twig' %}

      {% include 'todos/delete-button.twig' %}

      {% include 'todos/mark-as-done-button.twig' %}
    </div>
  </div>

  {% if todo.body is not null %}
    <p class="{{ todo.completed ? 'line-through text-zinc-400' }}">{{ todo.body|e }}</p>
  {% endif %}
</article>
