<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/styles.css">
    {% block css %}{% endblock %}
  </head>
  <body class="bg-gray-50">
    {% include 'components/header.twig' %}

    <main class="px-2 py-4 text-zinc-700 container m-auto">
      {% block content %}{% endblock %}
    </main>
    {% block js %}{% endblock %}
  </body>
</html>
