<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDo App</title>
  </head>
  <body>
    <p>Memcached counter: {{ counter }}</p>
    <p>Database test: {{ database }}</p>
  </body>
</html>
