<header class="py-2 px-4 bg-zinc-700 text-white">
  <div class="max-w-4xl m-auto flex items-center gap-6">
    <a href="/" aria-label="Go to home page" class="block font-bold hover:underline">
      ToDo App
    </a>

    <nav class="flex gap-4 flex-1">
      {% if userEmail is null %}
        <ul class="flex flex-wrap items-center gap-x-2 gap-y-1 ml-auto">
          <li>
            {% include 'components/nav-button.twig' with {href: '/login', title: 'Sign In'} %}
          </li>
          <li>
            {% include 'components/nav-button.twig' with {href: '/signup', title: 'Sign Up'} %}
          </li>
        </ul>
      {% else %}
        <ul class="flex flex-wrap items-center">
          <li>
            <a
              href="/todos"
              class="hover:underline {{ uri matches '<^/todos/?$>' ? 'underline font-bold' : '' }}"
            >
              Tasks
            </a>
          </li>
        </ul>
        <form action="/logout" method="post" class="ml-auto">
          {% include 'components/forms/csrf.twig' %}
          {% include 'components/forms/submit-light.twig' with {title: 'Log Out'} %}
        </form>
      {% endif %}
    </nav>
  </div>
</header>
